<div id="mission">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="thumbnail">
        <img src="img/sunset.jpg" class="img-circle">
        <div class="caption text-justify">
          <h1 class="page-heading">Mission Statement</h1>
          <p>
            We are a not-for-profit organization dedicated to assisting children
            with all types of illnesses to be able to enjoy a vacation as a
            healthy child would, without the usual limitations of medical
            boundaries.
          </p>

          <p>

        </div>
      </div>
    </div>
  </div>
</div>
