.jumbotron {
  background-image: url(/img/beach.jpg);
  background-position: top 75% left 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 565px;
  padding-top: 0;
  color: #3e3e3e;
  .showcase {
    padding: 2em;
    background: rgba(255,255,255,0.5);
    text-align: center;
    margin-top: 10em;
    font-weight: bolder;
    h1 {
      font-weight: bold;
      margin: 1em auto;
      // -webkit-text-stroke: 1px #333;
    }
    a {
      padding: .5em 1em;
      font-size: 2em;
    }

    @media (max-device-width: $screen-xs-min) {
      margin-top: 6em;
    }
  }

}

.logo {
  width: 75%;
}

#donate, #about, #mission {
  @extend .container;
  text-align: center;
  font-size: 1.5em;
  img {
    width: 60%;
    margin-bottom: 2em;
  }

  small {
    font-size: .5em;
  }
}

.navbar {
  li > a {
    font-size: 2em;
    font-weight: bolder;
    // -webkit-text-stroke: 1px #333;
  }
  @media (max-device-width: $screen-xs-min) {
    background-color: rgba(84, 149, 255, 1);
  }
}

.navbar-nav {
  background-color: rgba(84, 149, 255, 1);
}

.page-heading {
  text-align: center;
  font-size: 2.5em;
  margin: 1em auto;
}

footer {
  background-color: #5495ff;
  font-size: 1.7em;
  color: #fff;
  padding: 1.5em 0;
  margin: 2em auto 0;
}

.donorbox-container {
  @extend .row;
  margin: 1em auto;
}

.navbar-right {
  padding-right: 0 20px;
}

.thumbail {
  border: none;
}

.collapse {
  display: none;
  &.in {
    display: block;
  }
}

.collapsing {
  border: none;
  .nav {
    display: none;
  }
}

.navbar-toggle {
  background-color: #ffffff;
}

hr {
  width: 50%;
}
// .navbar-default {
//   background-color: transparent;
//   border-color: transparent;
// }
